* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: black;
}

section {
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;
    border: 2px black dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: auto;
}

h1 {
    font-family: 'Now', sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    background-color: #d9d9d9;
}

.test2 {
    height: 2rem;
    width: 6rem;
    background-color: #93d8ff;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.bg-blue {
    background-color: #93d8ff;
}

.bg-grey {
    background-color: #d9d9d9;
}

.bg-pink {
    background-color: pink;
}

.bg-yellow {
    background-color: yellow;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.mw-40 {
    max-width: 40%;
}

.mw-80 {
    max-width: 80%;
}

.mw-90 {
    max-width: 90%;
}

.minw-90 {
    min-width: 90%;
}

.fw-200 {
    font-weight: 200;
}

.fw-500 {
    font-weight: 500;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pl-4 {
    padding-left: 1rem;
}